.projects {
  margin-top: 40px;
}
.project {
  clear: left;
  border-top: 1px solid rgb(238, 238, 238);
  padding: 50px 20px 20px 20px;
}
.screenshot {
  margin-bottom: 5px;
  width: 140px;
}
.screenshot img {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 2px;
}

@media (min-width: 768px) {
  /* something _bigger_ than an iPad in portrait mode */
  .rest {
    margin-left: 140px;
  }
  .screenshot {
    float: left;
    margin-bottom: 15px;
  }
}

.project a.perm {
  font-size: 0.7em;
  padding-left: 8px;
}
.project a.perm:link {
  color: rgb(151, 151, 151);
}
.project a.perm:hover {
  color: rgb(51, 51, 51);
}
.project h3 {
  margin-top: 0;
}
