.archive {
  dt {
    font-size: 1.1em;
    margin-top: 10px;
  }

  dd a {
    margin-right: 10px;
  }

  dd span {
    font-size: 0.9em;
    color: rgb(153, 153, 153);
  }

  dd b {
    font-weight: normal;
    font-size: 0.9em;
    color: rgb(153, 153, 153);
    float: right;
  }
}
@media only screen and (max-width: 767px) {
  .archive {
    dd b {
      display: none;
    }
    dd {
      margin-left: 15px;
    }
  }
}
