#archive dt {
  font-size: 1.1em;
  margin-top: 10px;
}
#archive dd a {
  margin-right: 10px;
}
#archive .categories {
  font-size: 0.9em;
  color: rgb(153, 153, 153);
  float: right;
}
#archive .comments {
  font-size: 0.9em;
  color: rgb(153, 153, 153);
}

@media only screen and (max-width: 767px) {
    #archive .categories {
    display: none;
  }
  #archive dd {
    margin-left: 15px;
  }
}
